PORT=3001
NODE_ENV="development"

# Database Config
DB_HOST=mysql
DB_PORT=mysql
DB_USERNAME=appuser
DB_PASSWORD=appPassword
DB_DATABASE=appdb

# jwt
SECRET_JWT=
JWT_REFRESH_TOKEN_SECRET=
JWT_RESET_PASSWORD=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800
JWT_EXPIRATION_TIME_DEFAULT=600

#admin
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_ACCOUNT_ID=
R2_PUBLIC_URL=
ENDPOINT=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=my_redis

SENTRY_DSN=
ENTRY_AUTH_TOKEN=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_FROM=your@gmail.com